<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./public/style.css">
	<title>Note Articles</title>
</head>
<body>
	{{{ body }}}
</body>
</html>