  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/">Saved Articles</a></li>
        <li><a href="/scrape">Scrape New Articles</a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
	<div class="jumbotron">
		<h1>Sports Articles</h1>
	</div>
</div>

<ul>
	{{#each plans}}
		<li>
			<p>
				{{this.id}}. {{this.plan}}
				<form action="/{{this.id}}?_method=DELETE" method="POST">
					<input type="hidden" name="id" value="{{this.id}}">
					<button type="submit">Delete Articles</button>
				</form>
			</p>
		</li>
	{{/each}}
</ul>

<h2>Create Articles</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Articles!</button>
</form>

<h2>Update Articles</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="plan" placeholder="plan"></textarea>
	<button type="submit">Update Articles!</button>
</form>